* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
background: linear-gradient(135deg,#f4f5f7, #b1e0bb);

}

.navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    color: black;
    z-index: 1;

    .navbar-brand{
        color: black;
        font-weight: 700;
        /* backdrop-filter: blur(20px);  */
        /* border-radius: 20px; */
    }
.container-fluid{
    backdrop-filter: blur(20px); 
    border-radius: 20px;
    margin: 0px 10px;
}

.collapse{
   
    /* border-radius: 20px; */
    color: black;
    /* backdrop-filter: blur(20px);  */
    font-weight: 500;
    justify-content: end;
   
}
.navbar-toggler{
    border: none;
}
    
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: aqua; */
    margin-left: 50px;

}

.links {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: end;
    list-style-type: none;
    width: 83vw;
    gap: 20px;
    padding-right: 50px;
}

:hover.nav-link {
    cursor: pointer;
    text-decoration: underline;
}

/* Main style starts */

/* Home section starts */
.hello {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 70px 0px;
}
#name {
    color: navy;
    /* text-shadow: 2px 3px black; */
    margin-bottom: 25px;
}

.hire_work {
    margin-top: 25px;
    display: flex;

    .hire {
        margin-right: 20px;
        border: none;
        border-radius: 50px;
        padding: 5px;
        background-color: lightgreen;
        transition-duration: 1s;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    .work {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid;
        border-radius: 50px;
        padding: 5px;
        border: none;
        background-color: lightgreen;
        transition-duration: 1s;
    }
}

.main_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:80px 0px;
}

.profile_pic {
    img{
        margin-top: 50px;
        border-radius: 50%;
        width: 400px;
    }
}

:hover.hire,
:hover.work {
    background-color: rgb(8, 243, 8);
    box-shadow: 2px 4px 8px 2px black;
    cursor: pointer;
    transition-duration: 700ms;
}

/* Home section ends */

/* About section starts */
.about_me{
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0px;
}
.image{
    img{
        width: 300px;
    }
}
th,td{
    padding-bottom: 10px;
    padding-right: 10px;
}
.data{
    width: 50%;
    padding-top: 20px;
}
.about-me{
    color: black;
}
/* About section style ends */

/* Skill section style starts */

.skills-section {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 70px 0;
}

.skills-section h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 15px;
    margin-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 60px;
}

.skill-box p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 16px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: grey;
    border-radius: 10px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
}
/* Skills section styles ends */

/* Project section starts */
.project-card{
    padding: 70px 0px;
    h1{
        text-align: center;
        font-size: 50px;
    }
}
.Projects{
    margin: 70px 0px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
    .website{   
        background-color: white;
        border-radius: 8px; 
        padding-bottom: 10px;
        text-align: center;
        transition-duration: 1s;
        button{
            padding: 5px 10px;
            background-color: rgb(71, 197, 239);
            border-radius: 5px;
            border: none;
            &:hover{
                background-color: rgb(5, 192, 254);
            }
        }
        img{
            border-radius: 8px;
            height: 50%;
            width: 100%;
            object-fit: cover;
    

        }
        &:hover{
            transform: translateY(-15px);
            transition-duration: 600ms;
        }

    }
}

/* Project section ends */

/* contact section starts */
.contact{
    padding: 70px 0px;
    h1{
        text-align: center;
    }
    .sub-para{
        text-align: center;
    }
    .contact-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 50px;
        .getting-touch{
            font-size: 25px;
            width: 250px;
        }
        .bi-envelope-fill, .bi-telephone-fill, .bi-geo-alt-fill{
            padding-right: 5px;
        }
        .github{
            font-size: 30px;
            padding-left: 80px;
            .bi{
                padding: 5px 10px;
                border-radius: 5px;
                color: black;
                transition-duration: 1s;
            }
            :hover.bi-github{
               color: gray;
               transition-duration: 500ms;
                
            }
            :hover.bi-linkedin{
                color: #03a2f7;
                transition-duration: 500ms;
                
            }
        }
    }
    .contact_right{
        margin-top: 20px;
        border: 1px solid ;
        padding: 40px 20px;
        border-radius: 10px;
        height: 300px;
        align-items: center;
        input{
            margin: 5px;
            padding: 3px;
            width: 200px;
            border: none;
            border-radius: 15px;
            width: 100;
        }
        textarea{
            margin: 5px;
            width: 200px;
            border: none;
            border-radius: 15px;
        }
        button{
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin-left: 45px;
            transition-duration: 1s;
            &:hover{
                background-color: rgb(5, 186, 247);
                transition-duration: 700ms;
            }
            
        }
    }
}
/* contact section ends */

/* footer section starts */
footer div{
    margin-top: 140px;
    text-align: center;
}

footer div .bi{
   color: black;
}

/* Responsive design */

@media (max-width:768px) {
    /* home */
    .main_img{
        margin: 0;
    }
    .content{
        margin: auto;
    
    }
    .profile_pic{
        margin:0;
        margin-top: auto;
        img{
            width: 300px;
            margin-right: 30px;
        }
    }
    .hello{
        margin: 0;
    }

/* about */
   .image{
        img{
            width: 200px;
            padding: 100px 0px 0px 10px;
        }
   }
   .data{
    font-size: 15px;
    padding: 30px ;
   }
   .about-me{
    text-align: center;
   }

   /* Project */
    .Projects{
           grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 576px) {
    /* home */
  .main_img{
    margin: 0;

  }
  .profile_pic{
    img{
        width: 250px;
        margin-bottom: 170px;
    }
  }
  .hello{
    margin-top: 20px;
  }
  /* about */
  .about_me{
    display: flex;
    flex-wrap: wrap;
    .image{
        img{
            width: 150px;
            padding-top:70px;
        }
    }
    .data{
        font-size: 10px;
        padding: 5px;
    }
  }
  /* Projects */
  .Projects{
    grid-template-columns: 1fr; 
  }
}

