* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
background: linear-gradient(to right, rgb(245, 241, 241), rgb(226, 253, 231));
}

.navbar{
    width: 100vw;
    position: fixed;
    top: 0;
    color: black;

    /* background-color: ; */
    z-index: 1;

    .navbar-brand{
        width: 50vw;
        color: black;
        font-weight: 700;
    }

.collapse{
    border-radius: 20px;
    color: black;
    backdrop-filter: blur(20px); 
    /* -webkit-backdrop-filter: blur(10px); */
    font-weight: 500;
   
}
.navbar-toggler{
    border: none;
}
    
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: aqua; */
    margin-left: 50px;

}

.links {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: end;
    list-style-type: none;
    width: 83vw;
    gap: 20px;
    padding-right: 50px;
}

:hover.nav-link {
    cursor: pointer;
    text-decoration: underline;
}

/* main style starts */

/* Home section starts */
.hello {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(8, 244, 8);
    padding: 80px 0px;
}

.content {
    margin-left: 100px;
}

#name {
    color: rgb(10, 237, 10);
    margin-bottom: 25px;
}

.hire_work {
    margin-top: 25px;
    display: flex;

    .hire {
        margin-right: 20px;
        border: none;
        border-radius: 50px;
        padding: 5px;
        background-color: lightgreen;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    .work {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid;
        border-radius: 50px;
        padding: 5px;
        border: none;
        background-color: lightgreen;
    }
}

.main_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.profile_pic {
    margin-right: 200px;
    margin-top: 100px;
    img{
        border-radius: 50%;
    }
}

:hover.hire,
:hover.work {
    background-color: rgb(7, 241, 7);
    cursor: pointer;
}

/* Home section ends */

/* About section starts */

.about_me {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    right: 20px;
    top: 10px;
    

    .image {
       margin: 100px 200px 0px 100px;
    }

    .data {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 50px 0px 0px 150px;
        padding-top: 20px;

       p{
            padding-top: 15px;
        }
        .about {
            filter: opacity(20%);
            position: absolute;
            top: 60px;
            left: 740px;
            font-size: 80px;
            padding-bottom: 50px;
        }

        #about-me {
            padding-top: 0px;
            margin-bottom: 20px;
        }

        .biodata{
            th,td{
                padding-top: 20px;
            }
        }
        .project{
            padding-top: 20px;
            display: flex;
        }
        .number{
            color: darkgoldenrod;
        }
        .cv{
            margin-top: 10px;
            background-color: black;
            border-radius: 50px;
            padding: 5px;
            border: 1px solid ;
        }
        :hover.cv{
            background-color: darkgoldenrod;
            border: 1px solid darkgoldenrod;
        }
    }
}

/* About section style ends */

/* Skill section style starts */

.skills-section {
    padding-top: px;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 70px 0;
}

.skills-section h2 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-text {
    color: #aaa;
    font-size: 15px;
    margin-bottom: 50px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px 60px;
}

.skill-box p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    font-size: 16px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}

.progress {
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
}
/* Skills section styles ends */

/* Project section starts */
.project-card{
    margin: 100px 0px;
    h1{
        text-align: center;
        font-size: 50px;
    }
}
.Projects{
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

    .website{
        display: grid;
        border: 1px solid lightblue;
        background-color: white;
        border-radius: 8px; 
        justify-items: center;
        padding-bottom: 10px;
        button{
            padding: 5px 10px;
            background-color: lightblue;
            border-radius: 5px;
            border: none;
            &:hover{
                background-color: rgb(12, 185, 243);
            }
        }
        img{
            border-radius: 8px;
            height: 150px;
            width: 300px;

        }
        &:hover{
            transform: translateY(-10px);
        }

    }
}

/* Project section ends */

/* contact section starts */
.contact{
    h1{
        text-align: center;
    }
    .sub-para{
        text-align: center;
    }
    .contact-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 50px;
        .getting-touch{
            font-size: 25px;
            width: 250px;
        }
        .bi-envelope-fill, .bi-telephone-fill, .bi-geo-alt-fill{
            padding-right: 5px;
        }
        .github{
            font-size: 30px;
            padding-left: 80px;
            .bi{
                padding: 5px 10px;
                border-radius: 5px;
                color: black;
            }
            :hover.bi-github{
               color: gray;
                
            }
            :hover.bi-linkedin{
                color: #0077B5;
                transition: 500ms;
            }
        }
    }
    .contact_right{
        margin-top: 20px;
        border: 1px solid ;
        padding: 40px 20px;
        border-radius: 10px;
        height: 300px;
        align-items: center;
        input{
            margin: 5px;
            padding: 3px;
            width: 200px;
        }
        textarea{
            margin: 5px;
            width: 200px;
        }
        button{
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin-left: 45px;
            &:hover{
                background-color: rgb(135, 217, 244);
            }
            
        }
    }
}
/* contact section ends */

/* footer section starts */
footer div{
    margin-top: 140px;
    text-align: center;
}

footer div .bi{
   color: black;
}

